.about-us .container {
  display: grid;
  gap: var(--global-gap);
  margin-bottom: var(--global-gap);
}

.about-us .info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 4em;
  background-color: #f5f5f5;
}

.achievements {
  display: flex;
  flex-direction: column;
  gap: 3em;
  text-align: center;
  justify-content: center;
  margin: 3em;
}

@media (min-width: 600px) {
  .achievements {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .about-us .info-container p {
    width: 70%;
  }
}

@media screen and (min-width: 800px){
  .about-us .container {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--global-gap);
  }


  .about-us .container:nth-of-type(2) {
    grid-template-areas: "b a";
  }

  .about-us .container:nth-of-type(2) .info-container {
    grid-area: b;
  }
  .achievements{
    margin: 5em;
  }
}

@media screen and (min-width: 1100px) {
  .extra-description {
    display: inline;
  }
}
